html {
	background-color: #FFFFFF;
	font-family: "Courier New", Courier, monospace;
	text-transform: lowercase;
}

.intro{
	display: flex;
	height: 40vh;
	margin: 20px 200px;
	padding: 250px 25px 200px 25px;
	flex-direction: column;
	letter-spacing: 2.8px;
	word-spacing: 2.8px;
}

h1{
	display: block;
	position: relative;
	margin: 0px;
	min-height: 200px;
	font-size: 150px;
	color: black;
}

#subtitle{
	margin: 0px;
	text-align: right;
	font-size: 21px;
}

.tabs {
	display: flex;
	position: sticky;
  	margin: 10px;
  	padding: 15px;
  	bottom: 0;
  	justify-content: center;
  	align-items: center;
  	border-top: 2px solid black;
}

button{
	border-radius: 0px;
	border: none;
	padding: 9px;
	margin: 0px 10px;
	font-size: 20px;
	letter-spacing: -1.2px;
	word-spacing: -1.2px;
	font-family: "Courier New", Courier, monospace;
	font-weight: 500;
	text-transform: lowercase;
	text-decoration: none;
}

button:hover {
	background-color: aliceblue;
}