html {
	background-color: #FFFFFF;
}

header{
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	letter-spacing: 2.8px;
	word-spacing: 2.8px;
	text-transform: lowercase;
}

h1, h3{
	font-size: ;
}

#home-link{
	display: block;
	min-height: 37px;
	color: black;
	text-decoration: none;
}


.tabs {
	display: flex;
	justify-content: center;
  	align-items: center;
  	margin: 0px;
}

button{
	border-radius: 0px;
	border: none;
	padding: 9px;
	margin: 0px 10px;
	font-size: 20px;
	letter-spacing: -1.2px;
	word-spacing: -1.2px;
	font-family: "Courier New", Courier, monospace;
	font-weight: 500;
	text-transform: lowercase;
	text-decoration: none;
}

button:hover {
	background-color: aliceblue;
}

main {
	display: flex;
  	flex-direction: column;
  	margin: 0 10%;
}

.content{
  	padding: 1.5rem 1.5rem 48px;
  	margin: 0 auto;
}