body{
	font-family: "Courier New", Courier, monospace;
	text-transform: lowercase;
}

header{
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid black;
	margin: 10px 0px;
	padding-bottom: 15px;
	padding-top: 5px;
}

#home-link{
	font-size: 21px;
	width: 20%;
	color: black;
}

a{
	text-decoration: none;
	color: black;
}

.show-underline{
	text-decoration: underline;
}

main{
	display: flex;
	flex-direction: column;
	margin: 0px auto;
	max-width: 1000px;
}


p, .links, .skills, .gallery{
	padding-left: 100px;
}

.content{
	padding-bottom: 100px;
}

#headshot{
	float: inline-start;
	margin: 0px 20px 10px 0px;
	width: 200px;
	height: 200px;
	border: 2px solid black;
}

.skills{
	display: flex;
	flex-wrap: wrap;
}

.links{
	font-size: 30px;
	margin-left: 15px;
}

.screenshot{
	height: 400px;
	width: 800px;
}
